build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcuserdata
xcuserdata/
xcshememanagement.plist

.build/
.swiftpm/

.DS_Store
*.swp
*.lock

*.xcworkspace

.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
